@import "tailwindcss";

/* Theme 1: Minimal */
.theme1 {
  background-color: #ffffff;
  color: #111827;
  font-family: sans-serif;
}

/* Theme 2: Dark */
.theme2 {
  background-color: #111827;
  color: #ffffff;
  font-family: serif;
  font-weight: bold;
}

/* Theme 3: Colorful + Google Font */
.theme3 {
  background: linear-gradient(to bottom right, #fde68a, #fca5a5, #a5b4fc);
  color: #111827;
  font-family: 'Pacifico', cursive;
}

